.feed{
    width: 540px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.feed-input-container{
    padding: 10px;
    padding-top: 20px;
    justify-content: space-evenly;
    width: 100%;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.feed-input{
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding-left: 10px;
    color: rgb(77, 77, 77);
    margin-bottom:10px;
    height: 48px !important;
    width: 100%;
    place-items: center;
}

.feed-input input{
    border: none;
    outline: none;
    margin-left: 10px;
    font-size:14px;
    width: 90%;
    overflow: scroll;
    color: rgb(59, 59, 59);
    font-weight: 600;
}

.feed-input button{
    display: none;
}

.feed-input-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}