.header-container{
 display: flex;
 position: sticky;
 top:0;
 z-index:1080;
 justify-content: space-evenly;
 border-bottom: 0.1px solid lightgray;
 width: 100%;
 background-color: white;
}

.header-left{
    display: flex;
    padding: 7px;
    place-items: center;
}

.header-left img{
    object-fit: contain;
    height: 34px;
    margin-right:10px;
}

.search-bar{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 15px;
    color: gray;
    background-color: #eef3f8;
}

.search-bar input{
    outline: none;
    border: none;
    background: none;
}

.header-right{
    display: flex;
    object-fit: contain;
}

.dropdown-container{
    position: relative;
    top: 70px;
    right: 310px;
}

.dropdown-menu{
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 264px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border: 1px solid lightgray;
    z-index: 5000;
}

.dropdown-menu .menu-user{
    padding: 10px;
}

.dropdown-menu .menu-signout{
    padding: 10px;
    border-top: 1px solid lightgray;
    cursor: pointer;
    color: rgb(87, 87, 87);
}

.menu-signout:hover{
    text-decoration: underline;
}